In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [3]:
import numpy as np

In [4]:
np.__version__

'1.26.4'

In [5]:
a = pd.Series([1,2,3,4,])

In [7]:
a.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
b = pd.Series([1,2,3,4], index = ['a', 'b', 'c', 'd'])

In [9]:
b.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
c = pd.Series({'a':1, 'b':2, 'c':3, 'd':4})

In [11]:
c

a    1
b    2
c    3
d    4
dtype: int64

In [12]:
c.name= 'Number'

In [13]:
c

a    1
b    2
c    3
d    4
Name: Number, dtype: int64

In [16]:
prices = pd.Series({'Яблоки': 150, 'Груши': 200, 'Апельсины': 250})

In [22]:
prices

Фрукты
Яблоки       150
Груши        200
Апельсины    250
dtype: int64

In [21]:
prices.dtypes

dtype('int64')

In [19]:
prices.index.name = 'Фрукты'

prices

In [31]:
sales = pd.DataFrame({'Яблоки': [150, 160, 140], 'Груши': [200, 240, 300], 'Апельсины': [250, 270, 290]}, index = ['Январь', 'Февраль', 'Март'])

In [32]:
sales

         Яблоки  Груши  Апельсины
Январь      150    200        250
Февраль     160    240        270
Март        140    300        290

In [33]:
sales['Яблоки']

Январь     150
Февраль    160
Март       140
Name: Яблоки, dtype: int64

In [35]:
type(sales['Яблоки'])

pandas.core.series.Series

In [39]:
salo = ['Яблоки', 'Апельсины']

In [40]:
sales[salo]

         Яблоки  Апельсины
Январь      150        250
Февраль     160        270
Март        140        290

In [45]:
sales.loc['Февраль']

Яблоки       160
Груши        240
Апельсины    270
Name: Февраль, dtype: int64

In [48]:
sales.iloc[0,2]

250

In [55]:
sales.iloc[:-1, :-1]

         Яблоки  Груши
Январь      150    200
Февраль     160    240

### Загрузка данных из внешних источников

In [8]:
file_path = r"C:\Users\e.sytnik\Desktop\Обучение\entry_russia.xlsx"

In [9]:
entry_df = pd.read_excel(file_path, header =2)

In [10]:
entry_df

,Страна,Часть света,Год,Квартал,деловая,работа,туризм,частная,транзитный проезд,учеба,переезд на постоянное место жительства,обслуживающий персонал транспортных средств,итого
0,"АБХАЗИЯ , Республика Абхазия",Азия,2010,I квартал,41,NaN,1,20256,13,NaN,0,1,20312
1,"АБХАЗИЯ , Республика Абхазия",Азия,2010,II квартал,16,NaN,3,20709,27,NaN,0,8,20763
2,"АБХАЗИЯ , Республика Абхазия",Азия,2010,III квартал,6,NaN,1,6227,8,NaN,0,0,6242
3,"АБХАЗИЯ , Республика Абхазия",Азия,2010,IV квартал,0,NaN,0,4970,1,NaN,0,1,4972
4,"АБХАЗИЯ , Республика Абхазия",Азия,2011,I квартал,43,NaN,0,37873,10,NaN,0,15,37941
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11099,ЛИЦА БЕЗ ГРАЖДАНСТВА,Не известно,2023,I квартал,131,45.0,258,17462,13,90.0,0,4317,22316
11100,ЛИЦА БЕЗ ГРАЖДАНСТВА,Не известно,2023,II квартал,124,45.0,545,21734,22,40.0,0,4275,26785
11101,ЛИЦА БЕЗ ГРАЖДАНСТВА,Не известно,2023,III квартал,132,83.0,1156,25368,35,120.0,0,4596,31490
11102,ЛИЦА БЕЗ ГРАЖДАНСТВА,Не известно,2023,IV квартал,98,52.0,936,26165,31,67.0,0,4389,31738
11103,ЛИЦА БЕЗ ГРАЖДАНСТВА,Не известно,2024,I квартал,57,61.0,429,22587,13,72.0,0,3872,27091

In [24]:
countries_df = pd.read_excel(file_path, sheet_name = 'Страны')

In [28]:
countries_df = pd.read_excel(file_path, 'Страны')

In [29]:
countries_df

                                                Страна          Часть света
0                         АБХАЗИЯ , Республика Абхазия                 Азия
1                                            АВСТРАЛИЯ  Австралия и Океания
2                      АВСТРИЯ, Австрийская Республика               Европа
3                  АЗЕРБАЙДЖАН, Республика Азербайджан                 Азия
4                          АЛБАНИЯ, Республика Албания               Европа
..                                                 ...                  ...
221  ЭФИОПИЯ, Федеративная Демократическая Республи...               Африка
222          ЮЖНАЯ АФРИКА, Южно-Африканская Республика               Африка
223             ЮЖНАЯ ОСЕТИЯ , Республика Южная Осетия                 Азия
224                                             ЯМАЙКА              Америка
225                                             ЯПОНИЯ                 Азия

[226 rows x 2 columns]

In [32]:
file_path = r"C:\Users\e.sytnik\Desktop\Обучение\Промежуточная\Аттестация.xlsx"

In [33]:
prom_df = pd.read_excel(file_path)
prom_df

,departure_airport,arrival_airport,per_month,people_flown,sum,piople,npa
0,Новосибирск - Tolmachevo Airport (OVB),Абакан - Abakan Airport (ABA),7.0,304.000000,1763200.0,3585.0,very few
1,Новосибирск - Tolmachevo Airport (OVB),Абакан - Abakan Airport (ABA),8.0,147.000000,852600.0,3585.0,very few
2,Москва - Domodedovo International Airport (DME),Абакан - Abakan Airport (ABA),8.0,365.000000,16589900.0,3585.0,very few
3,Москва - Domodedovo International Airport (DME),Абакан - Abakan Airport (ABA),7.0,672.000000,30939500.0,3585.0,very few
4,Томск - Bogashevo Airport (TOF),Абакан - Abakan Airport (ABA),8.0,153.000000,749700.0,3585.0,very few
...,...,...,...,...,...,...,...
1795,Санкт-Петербург - Pulkovo Airport (LED),Якутск - Yakutsk Airport (YKS),8.0,195.000000,12185500.0,4480.0,very few
1796,Санкт-Петербург - Pulkovo Airport (LED),Якутск - Yakutsk Airport (YKS),7.0,410.000000,26424500.0,4480.0,very few
1797,Санкт-Петербург - Pulkovo Airport (LED),Якутск - Yakutsk Airport (YKS),6.0,399.000000,26347200.0,4480.0,very few
1798,Санкт-Петербург - Pulkovo Airport (LED),Якутск - Yakutsk Airport (YKS),5.0,140.000000,9605700.0,4480.0,very few
1799,NaN,NaN,NaN,1156.460978,NaN,NaN,NaN